useDynLib(glmPR, .registration=TRUE)

importFrom(Rcpp, evalCpp)
importFrom("stats", "coef", "fitted", "model.frame", "model.matrix", "model.response")


export("glmPR")

S3method("glmPR", "default")
S3method("glmPR", "formula")
S3method("predict", "glmPR")
S3method("print", "glmPR")